/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* general */
html{
	background: url("http://www.snapshotserengeti.org/images/big-wood.jpg") fixed center top;
}

body{
	font-family:"Open Sans", sans-serif;
	color:white;
	font-size: 16px;
	margin:0px;
	line-height:1.5em;

}

header, section{
	margin: 0 auto;
	width: 1150px;
}

a,a:visited{
	color:#FF9900;
}


/*navigation*/

nav .zooniverse-top-bar{
	background:#f9f8f3;
	height:4px;
}

header{
	margin-top:30px;
	font-size: 30px;

}

header p{
		border-bottom:1px solid white;
		font-family:"Rambla", sans-serif;
		color:#FF9900;
		font-style: italic;
		font-weight: bold;
		line-height: 2em;
		text-shadow: 0 1px 1px #140b03;


}


header img{
	margin-right: 20px;
	vertical-align: middle;
}


header img.zooniverse{
	margin-top: 10px;
	width:250px;
}


section#intro{
	margin-top: 50px;

}

/*home*/

section#instructions{
	margin-top: 70px;
	height: 70px;
}

section#instructions p{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin:1em;
}

section#comparison div.image{
	float:left;
}

section#comparison div.image:first-child{
	margin-right:100px;
}

section#comparison div.image img{
	width:500px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: white 6px solid;

}

/*top ten*/


section#gallery{
	margin-top: 100px;
}

section#gallery div.image{
	float:left;
	margin-bottom:50px;
}

section#gallery div.image:nth-child(odd){
	margin-right:100px;
}

section#gallery div.image img{
	width:500px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: white 6px solid;
}


